<DOCTYPE html>
<html lang="en">
    <head>
        <title>Flask Demo App</title>
        <link href="static/css/mystyle.css" rel="stylesheet"type="text/css">
        
    </head>
    <body>
        <div class="container">
            <div class="item">
                <h1>Simple Flask Demo</h1>
                <p>Your Flask application is now running on Amazon EKS.</p>
                <p>Host: {{ hostname }}</p>
                <p>Time: {{ time }}</p>
            </div>
            
        </div> 
    </body>
</html>
    
